.main {
    padding-top: 2vh;
}

.content {
    margin: 0 auto;
    max-width: 90vw;
    background-color: #fff;
    height: calc(96vh - 8vh);
    padding: 4vh;
    border-radius: 12px;
    overflow: scroll;
}